@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
body {
  margin: 0;
font-family: 'Be Vietnam Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color) !important;
}

.nav-link-hover {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease-in-out;
}

.nav-link-hover:hover {
  transform: scale(1.1);
}
